* {
  box-sizing: border-box;
}

body {
  background-color: #3b2f80;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
select {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}
/* .radio-btns {
  display: flex;
} */
.radio-btns input[type="radio"] {
  margin: 0px;
  width: 1em;
  height: 1em;
  margin-right: 5px;
}
.checkbox input[type="checkbox"] {
  margin: 0px;
  width: 1em;
  height: 1em;
  margin-right: 5px;
}

button {
  background-color: #0075e3;
  /* background-color: #04aa6d; */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}
.show-pass {
  display: flex;
}
.show-pass input[type="checkbox"] {
  margin: 0px;
  width: 1em;
  height: 1em;
  margin-right: 5px;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #0075e3;
  /* background-color: #04aa6d; */
}
.card {
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 4px;
}
